<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link rel="stylesheet" href="{{ asset('bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    {% block stylesheet %}{% endblock %}
    <title> {% block title %}{% endblock %}  </title>
</head>
<body>
    <div class="container-fluid">
        <header class="row">
            {% include "parts/_menu.html.twig" %}
        </header>
        <main>
            {% block body %}{% endblock %}
        </main>
        <footer class="row text-center">
            <p>
                Challenger &copy;  {{ "now"|date("Y") }}
            </p>
            <p>
                <a href="{{ path('app_main_legalstuff') }}">Mentions légales</a>
            </p>
        </footer>        
    </div>
    <!-- JavaScript Bundle with Popper -->
    <script src="{{ asset('bootstrap/js/bootstrap.min.js') }}"></script>
    {% block javascript %}{% endblock %}
</body>
</html>