{% extends "base.html.twig" %}


{% block title %} Liste défis {% endblock %}

{% block body %}

<div class="row text-center mt-5">
    <h1>Liste défis</h1>
</div>
<div class="row mt-5">
    <div class="col-8 offset-2">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">N°</th>
                <th scope="col">Nom défi</th>
                <th scope="col">Résumé</th>
                <th scope="col">Créateur</th>
                <th scope="col">Date & Heure défi</th>
                <th scope="col" >Actions</th>
              </tr>
            </thead>
            <tbody>
                {% for challenge in challenges %}                    
                    <tr>
                        <td>{{ challenge.id }}</td>
                        <td>{{ challenge.nom }}</td>
                        <td>{{ challenge.description|slice(0,30) }}...</td>
                        <td>{{ challenge.createur }}</td>
                        <td>{{ challenge.dateHeure|date("d/m/Y H\\Hi") }}</td>
                        <td>
                            <a class="btn btn-info" href="{{ url("app_challenge_detail",{id:challenge.id}  ) }}"><i class="fa-solid fa-eye"></i></a>
                        </td>
                    </tr>        
                {% endfor %}
            </tbody>
          </table>
    </div>
</div>

{% endblock %}